<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Sales Index</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border: collapse;
        }
    </style>
</head>
<body>
    <div class="jumbotron p-3 ">
        <div class="header">
            <a href="#default" class="logo">Finance Mangement logo</a>
        </div>
        <div class="well text-container">
            	<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light justify-content-center" >
			<ul class="nav justify-content-center">
    			<li class="nav-item">
      			<a class="nav-link" href="{{ url_for('home') }}">Home</a>
   				 </li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('invoice') }}">Invoice Selection</a>
				</li>
               
  			</ul>
		</nav>
		</section>
            <h1 align="center">Sales</h1>
            <p align="center">Click Sales to add sales Transaction of your Enterprise and select operations below..</p>
        </div>
    </div>

    <div class="row">
        <div class="col md-12">
            <form action = "http://localhost:5000/sales" method="POST">
                <div class="row">
                    <div class="col">
                         <table align="right">
                            <tr>
                                <td>Bill_number</td><td><input type="number" name="sales_bill_no" min="0" required></td>
                            </tr>
                            <tr>
                                <td>Product_type</td>
                                <td>
                                    <input type="text" name="sales_product_type" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Product_Name:</td>
                                <td>
                                    <input type="text" name="sales_product_name" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>
                                    <input type="text" name="sales_description" required>
                                </td>
                                </tr>
                                <tr>
                                    <td>Rate</td><td><input type="number" name="selling_rate" min="0" required></td>
                                </tr>
                                <tr>
                                    <td>Quantity</td><td><input type="text" name="sales_quantity"  required></td>
                                </tr>
                        </table>
                    </div>
                    <div class="col">
                        <table align="left">
                            <tr>
                                <td>Unit_sold</td>
                                <td><input type="number" name="sold_units" min="0" required></td>
                            </tr>
                            <tr>
                                <td>Date_of_Purchased</td><td><input type="date" name="sold_date"></td>
                            </tr>
                            <tr>
                                <td>Amount_paid</td><td><input type="number" name="sales_amount_paid" min="0" required></td>
                            </tr>
                            <tr>
                                <td>Payment_method</td>
                                <td>
                                    <select name="sales_payment_method" required>
                                        <option value="Cash">Cash</option>
                                        <option value="Check">Check</option>
                                        <option value="Online_banking">Online_Banking</option>
                                        <option value="Payment_left">Payment_left</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Purchaser_enterprise</td><td><input type="text" name="purchaser_name"></td>
                            </tr>
                            <tr>
                                <td>Seller_enterprise</td><td><input type="text" name="seller_name"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                     <hr>
                <div align="center">
                     <input type="submit" value="Submit"><input type="reset" value="Reset">
                </div>
            </form>
        </div>
    </div>

        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">

                    <h2 align="center"> Manage <b>Sales Transaction</b></h2>

                    {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}
                     {{message}}

                    {% endfor %}

                {% endif %}
                {% endwith %}
                    <table class="table table-hover table-dark">

                        <tr>

                            <th>ID</th>
                            <th>Bill_no</th>
                            <th>Product_type</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Sold_Units</th>
                            <th>Date</th>
                            <th>Total_Amount</th>
                            <th>Amount_received</th>
                            <th>Due_amount</th>

                        </tr>
{% for row in sales %}
                        <tr>

                            <td>{{row["id"]}}</td>
                            <td>{{row["sales_bill_no"]}}</td>
                            <td>{{row["sales_product_type"]}}</td>
                            <td>{{row["sales_product_name"]}}</td>
                            <td>{{row["sales_description"]}}</td>
                            <td>{{row["selling_rate"]}}</td>
                            <td>{{row["sales_quantity"]}}</td>
                            <td>{{row["sold_units"]}}</td>
                            <td>{{row["sold_date"]}}</td>
                            <td>{{row["sales_total_amount"]}}</td>
                            <td>{{row["sales_amount_paid"]}}</td>
                            <td>{{row["sales_due_amount"]}}</td>

                            <td>
                                <a href="/delete_sales/{{row.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete ?')">Delete</a>
                            </td>

                        </tr>


 {% endfor %}
                    </table>
                </div>

            </div>
        </div>

</body>

</html>